/.vs/DrawApp/v15/.suo
/.vs/DrawApp/v15/Server/sqlite3/db.lock
/.vs/DrawApp/v15/Server/sqlite3/storage.ide
/.vs/DrawApp/v15/Server/sqlite3/storage.ide-shm
/.vs/DrawApp/v15/Server/sqlite3/storage.ide-wal
/DrawApp/bin/Debug/DrawApp.exe
/DrawApp/bin/Debug/DrawApp.exe.config
/DrawApp/bin/Debug/DrawApp.pdb
/DrawApp/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Aero.dll
/DrawApp/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Metro.dll
/DrawApp/bin/Debug/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
/DrawApp/bin/Debug/Xceed.Wpf.AvalonDock.dll
/DrawApp/bin/Debug/Xceed.Wpf.DataGrid.dll
/DrawApp/bin/Debug/Xceed.Wpf.Toolkit.dll
/DrawApp/bin/Debug/de/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/es/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/fr/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/hu/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/it/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/ro/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/ru/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/sv/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/bin/Debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
/DrawApp/obj/Debug/App.g.cs
/DrawApp/obj/Debug/App.g.i.cs
/DrawApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DrawApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DrawApp/obj/Debug/DrawApp.Properties.Resources.resources
/DrawApp/obj/Debug/DrawApp.csproj.CopyComplete
/DrawApp/obj/Debug/DrawApp.csproj.CoreCompileInputs.cache
/DrawApp/obj/Debug/DrawApp.csproj.FileListAbsolute.txt
/DrawApp/obj/Debug/DrawApp.csproj.GenerateResource.Cache
/DrawApp/obj/Debug/DrawApp.csprojResolveAssemblyReference.cache
/DrawApp/obj/Debug/DrawApp.exe
/DrawApp/obj/Debug/DrawApp.g.resources
/DrawApp/obj/Debug/DrawApp.pdb
/DrawApp/obj/Debug/DrawApp_MarkupCompile.cache
/DrawApp/obj/Debug/DrawApp_MarkupCompile.i.cache
/DrawApp/obj/Debug/DrawApp_MarkupCompile.lref
/DrawApp/obj/Debug/MainWindow.baml
/DrawApp/obj/Debug/MainWindow.g.cs
/DrawApp/obj/Debug/MainWindow.g.i.cs
/DrawApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DrawApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DrawApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Extended.Wpf.Toolkit.3.2.0/tools/install.ps1
/packages/Extended.Wpf.Toolkit.3.2.0/Extended.Wpf.Toolkit.3.2.0.nupkg
